*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*
app/.classpath
app/.project
app/.settings/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/.classpath
app/.project
app/.settings/*
app/*
.project
.settings/
bin
